/* Lato Font Attachment */
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
/* Lato Font Attachment */

:root {
  --font: "Lato", sans-serif;
  --blue: #3b82f6;
  --gray: #374151;
  --lighter-gray: #d1d5db;
  --darker-gray: #111827;
  --white: #ffffff;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--gray);
}
